@import 'reset';
@import 'owl-carousel';
@import 'layout';
@import 'color';
@import 'fonts';
@import 'screen';
@import 'animation-plugin';
@import 'owl-custom';

*{
    color:rgb(50, 50, 50);
    font-family: 'Noto Sans TC', sans-serif;
}

table{
    width:100%;
}